<mat-sidenav-container class="admin-shell">
  <mat-sidenav mode="side" opened class="admin-sidenav">
    <div class="brand">{{ 'common.appName' | translate }}</div>

    <mat-nav-list>
      <a mat-list-item routerLink="/admin/sites" routerLinkActive="active-link">
        <mat-icon matListItemIcon>apartment</mat-icon>
        <span matListItemTitle>{{ 'nav.sites' | translate }}</span>
      </a>
      <a mat-list-item routerLink="/admin/residents" routerLinkActive="active-link">
        <mat-icon matListItemIcon>people</mat-icon>
        <span matListItemTitle>{{ 'nav.residents' | translate }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="admin-toolbar">
      <span class="spacer"></span>

      <button matIconButton [matMenuTriggerFor]="langMenu" [attr.aria-label]="'common.language' | translate">
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu #langMenu="matMenu">
        @for (lang of languages; track lang) {
          <button mat-menu-item (click)="setLanguage(lang)">{{ lang | uppercase }}</button>
        }
      </mat-menu>

      <button matButton (click)="logout()">
        <mat-icon>logout</mat-icon>
        {{ 'common.logout' | translate }}
      </button>
    </mat-toolbar>

    <main class="admin-content">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
